@{
    ViewBag.Title = "Login";
}

<div class="row" ng-controller="LoginCtrl">
    <div login-dialog></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/authentication")
}




